// Can't have the kscan0 here, that one's physical

#include "cosmos.dtsi"
#include "pmw3610.dtsi"
#include "cosmos-layouts.dtsi"

&physical_layout0 {
    transform = <&default_transform>;
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

// enable input listener that was disabled in pmw3610.dtsi
&trackball_listener {
    status = "okay";
};