// Can't have the kscan0 here, that one's physical

#include "cosmos.dtsi"
#include "cosmos-layouts.dtsi"

&physical_layout0 {
    transform = <&default_transform>;
};

&trackball_split_listener { // local trackball input split device child node, receiving events from the peripheral and raising them locally
	status = "okay";
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};