# No whitespace after the comma or in your part name!

config SHIELD_COSMOS_LEFT
    def_bool $(shields_list_contains,cosmos_left)

config SHIELD_COSMOS_RIGHT
    def_bool $(shields_list_contains,cosmos_right)

config SHIELD_COSMOS_DONGLE
	def_bool $(shields_list_contains,cosmos_dongle)